body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;

    >header {
        height: 20%;
        border: 1px solid red;
        box-sizing: border-box;

    }

    >.mainContainer {

        height: 80%;
        display: flex;
        border: 1px solid black;
        flex-direction: column;
        box-sizing: border-box;



        >.topSection {
            border: 1px solid blue;
            height: 5%;
            width: 100%;
            box-sizing: border-box;
            display: flex;

            >.nothing{
                width: 5%;
                height: 100%;

            }
            >#horizontalCanvas{
                width: 94%;
                height: 100%;
                border: 1px solid blueviolet;
            }
        }

        >.middleSection {
            border: 1px solid green;
            height: 95%;
            display: flex;
            width: 100%;
            box-sizing: border-box;


            >#verticalCanvas {
                border: 1px solid grey;
                width: 5%;
                box-sizing: border-box;
                height: 98%;

            }

            >#fullCanvas {
                width: 95%;
                display: flex;
                box-sizing: border-box;
                position: relative;

                >#spreadsheetCanvas {
                    background-color: aliceblue;
                    width: 99%;
                    height: 98%;
                    box-sizing: border-box;

                }

                >.horizontalScroll {
                    border: 1px solid cyan;
                    box-sizing: border-box;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 2%;
                    width: 99%;
                    background-color: black;

                    >#horizontalBar{
                        height: 95%;
                        width: 50%;
                        background-color: gray;
                        position: absolute;
                        top: 0;
                        left: 50px;
                        // transition: all 0.1s;
                    }

                }

                >.verticalScroll {
                    border: 1px solid yellow;
                    background-color: black;

                    box-sizing: border-box;
                    position: absolute;
                    height: 98%;
                    top: 0;
                    right: 0;
                    width: 1%;

                    >#verticalBar{
                        height: 30%;
                        width: 95%;
                        background-color: gray;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                }
            }
        }

        >input {
            display: none;
        }

    }

}
